*{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    background-image:url(background.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background-color:rgba(0, 0, 0, 0.479);
   text-align:center;
   padding:20px 0px;
}
#message{
    font-size:30px;
    color:white;
}
#city-input{
    margin-bottom:10px;
    margin-top:10px;
    padding:10px;
    font-size:20px;
    text-align:center;
    border-radius: 25px;
    border:1px solid black;
    outline:0;
}
#search-weather-button{
    padding:10px;
    font-size:20px;
    border-radius: 25px;
    border:1px solid black;
    outline:0;
}
#weather-result{
    background-color:rgba(0, 0, 0, 0.6);
    position:relative;
    top:30%;
    left:50%;
    transform: translate(-50%,-30%);
    width:80%;
    text-align:center;
    color:white
}
#temp-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    margin-top:20px;
}
.temp{
    display:inline;
    font-size:70px;
}
.img{
    display:inline;
}
#details{
    display:none;
}
#more-details{
    display:block;
    padding-bottom:10px;
    font-size:25px;
}
#more-details:hover{
    color:red;
}
#less-details{
    display:none;
    margin-top:10px;
    padding-bottom:10px;
    font-size:25px;
}
#less-details:hover{
    color:red;
}
.city-country{
    padding-top:20px;
    font-size:50px;
}
.more-info{
    font-size:35px;
}

